@model LavoCar.Controllers.Lavagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lavagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLav)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@Model.LavID">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
