@model LavoCar.Controllers.TipoLavagem

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo de Lavagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescTipoLav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescTipoLav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTipoLav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoTipoLav)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoLavID">Editar</a> |
    <a asp-action="Index">Voltar pra lista</a>
</div>
